.page {
    margin-top: 45px;
    margin-bottom: 45px;
}

.page-content {
    margin-bottom: 45px;
}

.navigation {
    margin-top: 45px;
}

footer {
    padding-bottom: 45px;
}

.search-form {
    margin-bottom: 15px;
}

#BlogBundle_post_text {
    height: 200px;
}